header {
    position: fixed;
    width: 1200px;
    height: 52px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px 0px #00000040;
    z-index: 1;
}

h1 {
    display: flex;
    width: 258px;
    height: 25.56px;
    margin-top: 13px;
    margin-left: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    text-shadow: 0px 4px 4px #00000040;
}

#madeby {
    display: flex;
    position: absolute;
    width: 233px;
    height: 37.9px;
    top: 7.93px;
    left: 951px;
    border-radius: 8px;
    background: #FFDD2D;
    align-items: center;
    justify-content: center;
}


    #madeby.p {
        display: flex;
        width: 204px;
        height: 17px;
        top: 19px;
        left: 969px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        background: #000000;
    }
