.selected-movie {
    position: fixed;
    width: 773px;
    height: 721px;

    left: 428px;
    background: #FAFAFA;
    box-sizing: border-box;
}
.header-movie {
    margin-left: 39px;
    margin-top: 17px;
    display: flex;
    width: 728px;
    height: 19px;
    justify-content: space-between;
    flex-wrap: nowrap;
}
    .header-movie button {
        display: flex;
        border: none;
        background-color: #FAFAFA;
        align-items: center;
    }
.header-leftside {
    display: flex;
    height: 100%;
    gap: 14px;
    align-items: center;
}
.header-leftside img {
    height: 19px;
    width: 19px;
}
.header-rightside {
    display: flex;
    gap: 8px;
    height: 100%;
}
    

    .header-movie p {
        height: 100%;
        margin: 0;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
.info{
    margin-left: 34px;
    margin-top: 19px;
    display: flex;
    gap: 14px;
}
.info img{
    width: 200px;
    height: 300px;
}
.infotext {
    width: 100%;
}
.infotext-upperside h2 {
    margin: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.info p {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;
}
.infotext-other{
    display: flex;
}
#header-of-parametrers {
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    color: black;
}
    .infotext-other-parameters {
        flex-direction: column;
        display: flex;
        width: 320px;
        margin-top: 20px;
    }
    .infotext-other-parameters span {
        color: black;
        margin-top: 20px;
    }

.infotext-other-parameters-spans {
    display: flex;
    flex-direction: column;
}
.infotext-other-actors {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    margin-left: 70px;
    gap: 16px;
}
.info-about {
    flex-direction: column;
    display: flex;
    position: fixed;
    width: 720px;
    height: 184px;
    top: 449px;
    left: 445px;
    gap: 27px;
}
#about {
    width: 100%;
    height: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.info-about-rating {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    width: 247px;
    height: 39px;
    justify-content: space-between;
}
#info-about-rating-rating {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;
}
